a, a:hover{
    color: #124154;
}
#logo {
    margin: 0 40px 0 15px;
    position: relative;
    top: -45px;
}
#logo img{
    width: 45px;
    margin-bottom: -8px;
    color: #63C6ED;
}
#form-container{
    margin-top: 80px;
    background-color: rgba(255, 255, 255, .80);
    border-radius: 10px;
}
.input_form{
    padding-top: 70px;

}
.result-container{
    margin-top: 30px;
}
.container-fluid{
    margin-top: 60px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-left: 1px dashed #63C6ED;
    border-top: 1px dashed #63C6ED;
    border-right: 1px dashed #63C6ED;
    border-bottom: none !important;
}

.nav-tabs {
    border-bottom: 1px dashed #63c6ed;
}

.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #ff4e00;
    border-color: #ff4e00;
}

.btn-primary:hover {
    background-color: gray;
    border-color: gray;
}

.btn-primary:active {
    background-color: #ff4e00 !important;
    border-color: #ff4e00 !important;
}

#short-button img{
    width: 20px;
}

#short-button svg {
    fill: white;
}
#list-container{
    margin-top: 20px;
}



/* ------ Booty changes ------- */

.nav > li > a {
    padding: 10px 30px;
}

.cut-form {
    border-radius: 4px 0 0 4px !important;
    padding-right: 0 !important;
    height: 35px !important;
}
.cut-button {
    padding-left:0;
    border-radius: 0 4px 4px 0 !important;
}
.numbers {
    text-align:center;
    height: 60px !important;
    width: 60px !important;
    padding: 0px !important;
    vertical-align: middle;
    border: 1px solid #124154;
    border-radius: 50%;
}
.numbers > h2 {
    margin: 11px 0 0;
    color: #124154 !important;
}
h3 {
    color: #124154;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #fff;
    color: #63C6ED;
    font-weight: bold;
}
.nav-tabs > li {
    margin-bottom: -2px;
}
.instruction{
    margin-bottom: 10px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}