{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>URL Shortener</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'custom/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'custom/css/scissors.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="main-content">

<div class="container-fluid">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li id="logo">
            <img src="{% static 'images/cut-02.svg' %}" alt="Cut It!">
        </li>
        <li role="presentation" {% if not list %}class="active"{% endif %}>
            <a href="#short"
               aria-controls="short" data-tabname="short"
               role="tab" data-toggle="tab">Cut It!</a>
        </li>
        <li role="presentation" {% if list %}class="active"{% endif %}>
            <a href="#list" aria-controls="list" data-tabname="list"
               role="tab" data-toggle="tab">URL List</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane{% if not list %} active{% endif %}"
             id="short">
            <div id="form-container">
                <div class="row" style="display: inline;">
                    <div class="col-sm-offset-3">
                        <div class="numbers col-sm-1 col-xs-12 col-xs-offset-1 col-sm-offset-0">
                            <h2>
                                1
                            </h2></div>
                        <div class="col-sm-3 col-xs-8 instruction"><h3
                                data-unsp-sanitized="clean">
                            Paste It!
                        </h3></div>
                    </div>

                    <div class="col-sm-offset-7">
                        <div class="numbers col-sm-1 col-xs-12 col-xs-offset-1 col-sm-offset-0">
                            <h2>
                                2
                            </h2></div>
                        <div class="col-sm-4 col-xs-8"><h3
                                data-unsp-sanitized="clean">
                            Cut It!
                        </h3></div>
                    </div>
                </div>
                <div class="row">
                    <form action="."
                          class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 input_form">
                        <div class="row">
                            <div class="col-sm-offset-2 col-md-offset-0 col-md-9 col-sm-6 col-xs-8 cut-form">
                                <input type="text" class="form-control cut-form"
                                       id="url-input" autocomplete="off"
                                       placeholder="Paste a long link here!">
                            </div>
                            <div class="col-md-3 col-sm-2 col-xs-4 cut-button">
                                <a href="#" id="short-button"
                                   class="btn btn-primary col-sm-12 col-xs-12 cut-button">
                                    <img src="{% static 'images/cut-03.svg' %}"
                                         alt="Cut that link!">
                                    Cut
                                    it!</a>
                            </div>
                            <div class="col-sm-offset-2 col-md-offset-0 col-md-9 col-sm-6 col-xs-8">
                                <label for="generate-new" class="check-label"
                                       title="Guarantee that you'll get a new URL"><input
                                        type="checkbox" name="generate-new"
                                        id="generate-new"
                                        title="Guarantee that you'll get a new URL">
                                    Generate a new URL</label>
                            </div>

                        </div>
                        <div class="row result-container">
                            <div class="col-md-12" id="resultContainer">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div role="tabpanel"
             class="tab-pane{% if list %} active{% endif %} col-xs-12 col-xs-offset-0 col-sm-10 col-xs-offset-2 col-sm-offset-1 col-md-8 col-md-offset-2"
        " id="list">
        <div id="list-container">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Shortened URLs</div>
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table" id="url-table">
                        <thead>
                        <tr>
                            <th width="50%">Long URL</th>
                            <th>Short URL</th>
                            <th>Hit Count</th>
                        </tr>
                        </thead>
                        <tbody id="url-list">

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="loader text-center col-md-12" id="loader">
                <div class="container-scissors">
                    <div class="scissors">
                        <div class="half">
                            <div class="blade"></div>
                            <div class="handle"></div>
                        </div>

                        <div class="half">
                            <div class="blade"></div>
                            <div class="handle"></div>
                        </div>

                        <div class="joint"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    var shorten = function (e) {
        var shortButton = $("#short-button");
        shortButton.button('loading');
        var ogUrl = $("#url-input").val();

        var resultContainer = $("#resultContainer");
        // Regex taken from http://stackoverflow.com/a/18593669
        var reExp = /^((http|https):\/\/){0,1}(([a-zA-Z0-9$\-_.+!*'(),;:&=]|%[0-9a-fA-F]{2})+@)?(((25[0-5]|2[0-4][0-9]|[0-1][0-9][0-9]|[1-9][0-9]|[0-9])(\.(25[0-5]|2[0-4][0-9]|[0-1][0-9][0-9]|[1-9][0-9]|[0-9])){3})|localhost|([a-zA-Z0-9\-\u00C0-\u017F]+\.)+([a-zA-Z]{2,}))(:[0-9]+)?(\/(([a-zA-Z0-9$\-_.+!*'(),;:@&=]|%[0-9a-fA-F]{2})*(\/([a-zA-Z0-9$\-_.+!*'(),;:@&=]|%[0-9a-fA-F]{2})*)*)?(\?([a-zA-Z0-9$\-_.+!*'(),;:@&=\/?]|%[0-9a-fA-F]{2})*)?(\#([a-zA-Z0-9$\-_.+!*'(),;:@&=\/?]|%[0-9a-fA-F]{2})*)?)?$/;
        var valid = reExp.test(ogUrl);
        resultContainer.html('');
        if (!valid) {
            shortButton.button('reset');
            resultContainer.append(
                $("<span>")
                    .addClass("alert alert-danger col-md-12 col-sm-12 text-center col-xs-12")
                    .text("Oh snap! the URL is not valid!"));
        } else {
            var newUrl = $('#generate-new').is(':checked');
            $.ajax({
                url: '{% url 'short_url' %}',
                type: 'post',
                data: {url: ogUrl, new_url: newUrl},
                success: function (data) {
                    shortButton.button('reset');
                    var alert = $("<span>")
                        .addClass("alert alert-success col-md-12 col-sm-12 text-center col-xs-12")
                        .text('URL Shortened! ')
                        .append($("<a>").attr('href', data.data.short_url).text(data.data.short_url));
                    resultContainer.append(alert);
                    $("#url-input").val('');
                },
                error: function (XHR, textStatus, errorThrown) {
                    shortButton.button('reset');
                    resultContainer.append(
                        $("<span>")
                            .addClass("alert alert-danger col-md-12 col-sm-12 text-center col-xs-12")
                            .text(XHR.responseJSON.data));
                    $("#url-input").val('');

                }
            });
        }

    };
    var list = {% if list %}true;{% else %}false;{% endif %}

    var loadList = function () {
        var loader = $("#loader");
        loader.show();
        // Get the urls list

        $.ajax({
            url: '{% url 'list_urls' %}',
            type: "get",
            success: function (data) {
                var table = $("#url-list");
                table.html('');
                loader.hide();
                data.data.forEach(function (urlObj) {
                    table.append(
                        $("<tr>")
                            .append($("<td>").html($("<a>").attr("href", urlObj.original_url).text(urlObj.original_url)))
                            .append($("<td>").html($("<a>").attr("href", urlObj.short_url).text(urlObj.short_url)))
                            .append($("<td>").html($("<span>").text(urlObj.hit_count)))
                    );
                });
            }
        });
    };
    var reserved = ['api', 'list', 'njs'];
    $(document).on("ready", function () {
        if (list) {
            loadList();
        }
        $('#url-input').on('paste', function () {
            setTimeout(shorten, 100);
        });
        $('#short-button').on("click", shorten);
        $('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
            var tab_name = $(e.target).data("tabname"); // newly activated tab
            if (tab_name == "list") {
                window.history.pushState('URL List', 'URL List', '/list/');
                loadList();
            } else {
                window.history.pushState('Cut It!', 'Cut It!', '/');
            }
        });
        var pathname = window.location.pathname;
        pathname = pathname.replace(/\//g, '');
        console.log(pathname);

        if (pathname != '' && $.inArray(pathname, reserved) < 0) {
            var url = '{% url 'unshort' short_id='------------' %}';
            url = url.replace('------------', pathname);
            var resultContainer = $("#resultContainer");
            $.ajax({
                url: url,
                type: 'get',
                success: function (data) {
                    resultContainer.html('');
                    var alert = $("<span>")
                        .addClass("alert alert-success col-md-12 col-sm-12 text-center col-xs-12")
                        .text('Redirecting to: ')
                        .append($("<a>").attr('href', data.data.long_url).text(data.data.long_url));
                    resultContainer.append(alert);
                    redirectTimeOut = 1000;
                    history.replaceState({}, '', '/');
                    setTimeout(window.location.href = data.data.long_url, redirectTimeOut)
                },
                error: function (XHR, textStatus, errorThrown) {
                    resultContainer.html('');
                    console.log(XHR, textStatus, errorThrown);
                    resultContainer.append(
                        $("<span>")
                            .addClass("alert alert-danger col-md-12 col-sm-12 text-center col-xs-12")
                            .text(XHR.responseJSON.data));
                    $("#url-input").val('');

                }
            });
        }
    });

</script>
</body>
</html>