{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>URL Shortener</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'custom/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'custom/css/scissors.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="main-content">

<div class="container-fluid">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li id="logo">
            <img src="{% static 'images/cut-02.svg' %}" alt="Cut It!">
        </li>
        <li role="presentation" {% if not list %}class="active"{% endif %}>
            <a href="#short"
               aria-controls="short" data-tabname="short"
               role="tab" data-toggle="tab">Cut It!</a>
        </li>
        <li role="presentation" {% if list %}class="active"{% endif %}>
            <a href="{% url 'url_list' %}" >URL List</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane{% if not list %} active{% endif %}"
             id="short">
            <div id="form-container">
                <div class="row" style="display: inline;">
                    <div class="col-sm-offset-3">
                        <div class="numbers col-sm-1 col-xs-12 col-xs-offset-1 col-sm-offset-0">
                            <h2>
                                1
                            </h2></div>
                        <div class="col-sm-3 col-xs-8 instruction"><h3
                                data-unsp-sanitized="clean">
                            Paste It!
                        </h3></div>
                    </div>

                    <div class="col-sm-offset-7">
                        <div class="numbers col-sm-1 col-xs-12 col-xs-offset-1 col-sm-offset-0">
                            <h2>
                                2
                            </h2></div>
                        <div class="col-sm-4 col-xs-8"><h3
                                data-unsp-sanitized="clean">
                            Cut It!
                        </h3></div>
                    </div>
                </div>
                <div class="row">
                    <form action="{% url 'no_js_home' %}" method="post"
                          class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 input_form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-offset-2 col-md-offset-0 col-md-9 col-sm-6 col-xs-8 cut-form">
                                <input type="text" class="form-control cut-form"
                                       id="url-input" autocomplete="off"
                                       name="url-input"
                                       placeholder="Paste a long link here!">
                            </div>
                            <div class="col-md-3 col-sm-2 col-xs-4 cut-button">
                                <button type="submit" id="short-button"
                                   class="btn btn-primary col-sm-12 col-xs-12 cut-button">
                                    <img src="{% static 'images/cut-03.svg' %}"
                                         alt="Cut that link!">
                                    Cut
                                    it!</button>
                            </div>
                            <div class="col-sm-offset-2 col-md-offset-0 col-md-9 col-sm-6 col-xs-8">
                                <label for="generate-new" class="check-label"
                                       title="Guarantee that you'll get a new URL"><input
                                        type="checkbox" name="generate-new"
                                        id="generate-new"
                                        title="Guarantee that you'll get a new URL">
                                    Generate a new URL</label>
                            </div>

                        </div>
                        <div class="row result-container">
                            <div class="col-md-12" id="resultContainer">
                                {% if error %}
                                    <span class="alertsuccess alert-danger col-md-12 col-sm-12 text-center col-xs-12">
                                    {{ error }}
                                    </span>
                                {% elif success %}
                                    <span class="alert alert-success col-md-12 col-sm-12 text-center col-xs-12">
                                    URL Shortened! <a href="{{ success }}">{{ success }}</a>
                                    </span>
                                {% endif %}

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div role="tabpanel"
             class="tab-pane{% if list %} active{% endif %} col-xs-12 col-xs-offset-0 col-sm-10 col-xs-offset-2 col-sm-offset-1 col-md-8 col-md-offset-2"
        " id="list">
        <div id="list-container">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Shortened URLs</div>
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table" id="url-table">
                        <thead>
                        <tr>
                            <th width="60%">Long URL</th>
                            <th>Short URL</th>
                        </tr>
                        </thead>
                        <tbody id="url-list">

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="loader text-center col-md-12" id="loader">
                <div class="container-scissors">
                    <div class="scissors">
                        <div class="half">
                            <div class="blade"></div>
                            <div class="handle"></div>
                        </div>

                        <div class="half">
                            <div class="blade"></div>
                            <div class="handle"></div>
                        </div>

                        <div class="joint"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">

</script>
</body>
</html>